.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  padding: 0 28px;
  gap: 32px;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}
